<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{block name="title"}{$web.title}{/block}</title>
    <meta name="keywords" content="{block name='keywords'}{$web.keywords}{/block}">
    <meta name="description" content="{block name='description'}{$web.description}{/block}">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/index.css">
    {block name="head"}{/block}
</head>

<body>
    {block name="body"}{/block}
</body>

</html>