/runtime
/.idea
/.vscode
*.log
.env
/tests/tmp
/tests/.phpunit.result.cache
*.pem
/uploads
/config/plugin/shopwwi/filesystem/app.json
/public/uploads
.well-known
/vendor
/composer.json
/composer.json.example
/composer.lock